@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #D7D7D7;
  --font-family-hero: "Raleway", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-tertiary: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}